body {
    background-color: #F6F6F9;
    color: white;

    .hero {
        background-image: url("./public/images/header.jpg");
        background-color: #CCCCCE;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        margin-bottom: 1em;
        background-position: center;
        background-size: 510px;
        color: #3A3A3D;
    }

    .footer {
        position: fixed !important;
        background: #434A54 !important;
        padding: 1em;
        bottom: 0px;
        border: 1em solid #434A55;
        margin-top: 2em;
        text-align: center;
        height: 50px;
        width: 100%;
        left: 0px;
    }

    .space  {
        padding-bottom: 25px;
    }

    .spacing    {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .imageCentered   {
        margin-top: 12em;
        margin-left: 3em;
        margin-right: 3em;
        border: 2px solid rgba(0,0,0,.87);
    }
}

@media (max-width: 768px) {
    body {
        .hero {

            background-position: -322px -17px;
            height: 350px;
            background-size: 1064px;
        }
    }
}